@use "../utils/mixins";
@use "../utils/variables";

.btn{
  border: none;
  font-family: variables.$main-font;
  border-radius: 50px;
  padding: 16px 32px;
  display: inline-block;
  transition: .35s;
  appearance: none;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  &_primary{
    color: #FFFFFF;
    background-color: variables.$primary-color;
    &:hover,
    &:focus {
      background-color: variables.$dark;
    }
  }
  &_outline{
    border: 1px solid variables.$primary-color;
    background-color: #FFFFFF;
    color: variables.$primary-color;
    padding: 15px 45px;
    font-weight: 700;
    &:hover,
    &:focus {
      background-color: variables.$primary-color;
      color: #FFFFFF;
    }
  }
  &_light{
    color: #222222;
    background-color: #FFFFFF;
    padding: 10px 16px;
    box-shadow: 0 10px 31px 0 #E8492312;
    &:hover,
    &:focus{
      color: variables.$primary-color;
    }
  }
}

.btn_call{
  display: block;
  position: fixed;
  right: 48px;
  bottom: 25%;
  padding: 18px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: variables.$primary-color;
  z-index: 600;
  &:hover{
    img{
      animation: pulse 1s infinite;
      transition: .35s;
    }
  }
  img{
    width: 100%;
    height: auto;
    display: inline-block;
    transition: .35s;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@include mixins.respond-to(variables.$md){
  .btn_call{
    width: 60px;
    height: 60px;
    padding: 14px;
  }
}
@include mixins.respond-to(variables.$xs) {
  .btn_call {
    right: 16px;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}