@use "../utils/mixins";
@use "../utils/variables";
@use "../components/button";
@use "../components/range-slider";

.filter {
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 24px 32px;

  .form__group label {
    padding-left: 8px;
  }

  label {
    display: block;
    margin-bottom: 16px;
    line-height: 1;
  }
}

.home .filter,
.filter-switch {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.filter-switch input[type="radio"] {
  display: none;
}

.filter-switch__btn.btn {
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 32px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .3);
  margin-right: 10px;
}

input[type="radio"]:checked + .filter-switch__btn {
  color: #222222;
  background-color: #FFFFFF;
}

.filter-price {
  width: 100%;
  max-width: 548px;
  padding-top: 28px;

}

.form {
  font-size: 14px;

  .filter-price__label {
    color: #8593A9;
    margin-bottom: 24px;

    span {
      color: variables.$primary-color;
      font-weight: 700;
    }
  }
}

.filter__tag {
  display: inline-flex;
  font-size: 14px;
  letter-spacing: 0;
  padding: 11px 14px 11px 24px;
  background-color: #FFFFFF;
  border: 1px solid variables.$grey-07;
  color: variables.$grey-07;
  border-radius: 50px;
  margin-right: 8px;
  margin-bottom: 8px;
  line-height: 1;

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  img {
    width: 12px;
    height: 12px;
  }

  &__text {
    line-height: 1;
    display: inline-block;
  }
}

.btn_reset-all {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  margin-left: 32px;
  padding: 12px;
  color: variables.$primary-color;

  &:hover {
    color: #222222;
  }
}

.sort-btn {
  display: block;
  border: 1px solid transparent;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  transition: .35s;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:hover {
    border-color: variables.$primary-color;
  }
}

.sort-list {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .1);

  border: 1px solid #C9C9C9;
  border-radius: 10px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: .35s;
  pointer-events: none;
  transform: translateY(calc(100% + 24px));

  li {
    padding: 12px 16px;

    &.active,
    &:hover {
      background-color: #F6F6F6;
    }
  }

  &.open {
    pointer-events: all;
    transform: translateY(calc(100% + 12px));
    opacity: 1;
  }
}

@include mixins.respond-to(variables.$xxl) {
  .home .filter,
  .home .filter-switch {
    max-width: 1211px;
  }
}

@include mixins.respond-to(variables.$md) {
  .catalog .filter-switch {
    text-align: center;
    padding-left: 0;
  }
}
@include mixins.respond-to(variables.$sm) {
.catalog .btn-submit{
  width: 100%;
}
}
@include mixins.respond-to(variables.$xs) {
  .section-hero .card_service {
    min-height: 185px;
    padding-bottom: 22px;
  }

  .section-hero__slogan {
    text-align: center;
  }

  .home .filter-switch {
    text-align: center;
  }

  .filter-switch__btn.btn {
    margin-bottom: 24px;
    line-height: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  .form {
    font-size: 16px;

    label {
      margin-bottom: 2px;
      line-height: 30px;
    }
  }

  .section-hero .filter,
  .catalog .field__group_details {
    display: block;
  }

  .section-hero .form__group {
    width: 100%;
  }

  .section-hero .form__group,
  .catalog .form__group {
    max-width: 100%;
    margin-bottom: 12px;
  }

}