

$main-font: "Montserrat", sans-serif;

//colors
$primary-color: #E84923;
$secondary-color: #E84923;
$dark: #2C2C2C;
$grey-03: #C9C9C9;
$grey-04: #7A7A7A;
$grey-07: #222222;

// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$screen-md: '(max-width: 1023px)';
$lg: '(max-width:1179px)';
$screen-lg: '(max-width: 1279px)';
$xl: '(max-width: 1439px)';
$xxl: '(max-width: 1800px)';


