@use "../utils/mixins";
@use "../utils/variables";
@use "../components/filter";

.page {
  padding-bottom: 43px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    color: variables.$primary-color;
    margin-bottom: 50px;
  }
}


.section-banner {
  position: relative;
  height: 443px;
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  img,
  iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
}

.section-banner_anim {
  position: relative;
  height: 444px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  .part_right {
    width: 50%;
  }

  .img-wrap {
    position: relative;
    max-width: 313px;
    width: 100%;
    margin-left: auto;
    min-width: 198px;
    background-color: #fff;
    z-index: 1;
  }

  img {
    width: 100%;
    height: auto;
  }
}


.red-theme {
  background: #E84923;
  --line-color: rgba(255, 255, 255, 0.4);
  --active-color: #ffffff;
  padding-bottom: 150px;
  align-items: flex-end;

  .part_right {
    padding-left: 130px;
  }
}

.white-theme {
  background: #ffffff;
  --line-color: rgba(211, 47, 47, 0.4);
  --active-color: #E84923;

  .part_right {
    padding-top: 50px;
    padding-right: 122px;
  }

  height: 430px;
  margin-top: 20px;
}

.magnetic-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  pointer-events: none;
}

.line-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.line {
  width: 4px;
  height: 40px;
  background: var(--line-color);
  border-radius: 2px;
  will-change: transform;
}


.section-banner_anim .container {
  display: flex;
}

.section-banner_anim h1 {
  position: relative;
  z-index: 1;
  font-size: 35px;
  line-height: 1.15;
  color: #FFFFFF;
  display: inline-block;
}

@include mixins.respond-to(variables.$xxl) {
  .red-theme .part_right {
    padding-left: 58px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-banner_anim {
    .img-wrap {
      width: 60%;
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .section-banner_anim {
    .white-theme .part_right {
      padding-right: 44px;
    }

    h1 {
      font-size: 26px;
    }
  }
  .white-theme {
    .part_right {
      padding-right: 40px;
    }
  }
}


@media screen and (max-width: 767px) {
  .section-banner_anim h1 {
    font-size: 28px;
  }
}

@include mixins.respond-to(variables.$md) {
  .section__title {
    display: inline-block;
  }
}

@include mixins.respond-to(variables.$sm) {
  .page__title {
    font-size: 28px;
    margin-bottom: 26px;
  }
  .section-banner_anim {
    height: 452px;

    .part_right {
      padding-right: 0;
      padding-top: 100px;
      width: 100%;
    }

    .img-wrap {
      max-width: 198px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .red-theme .part_right {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
  }
}

@include mixins.respond-to(variables.$xs) {
  .page__title {
    font-size: 24px;
  }
  .section-banner {
    height: 452px;
  }
  .section-banner_anim {
    &.red-theme {
      padding-bottom: 140px;

      .part_right {
        padding-right: 38px;
      }
    }

    h1 {
      font-size: 22px;
    }
  }
}