@use "../utils/mixins";
@use "../utils/variables";
@use "../components/card";

.block-intro {
  border: 1px solid variables.$primary-color;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 60px;

  strong.color-red {
    color: variables.$primary-color;
  }
}

@include mixins.respond-to(variables.$md) {
.accordion__header-title {
  font-size: 26px;
}
  .accordion__header {
    height: 106px;
  }
  .toggle-collapse-wrap{
    width: 65px;
  }

  .toggle-collapse {
    width: 65px;
    height: 35px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .block-intro {
    padding: 24px;
    margin-bottom: 35px;
  }
}
