@use "../utils/mixins";
@use "../utils/variables";
@use "../components/filter";

.page {
  padding-bottom: 43px;

 &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    color: variables.$primary-color;
    margin-bottom: 50px;
  }
}


.section-banner {
  position: relative;
  height: 443px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  h2 {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    max-width: 325px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(100%);
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  img,
  iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }

}

.section-banner_anim {
  background-color: variables.$primary-color;
  .line {
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    transform-box: fill-box;
    transform-origin: center;
    will-change: transform;
  }
  //
  //.banner__thumb {
  //  width: 100%;
  //  height: 444px;
  //  overflow: hidden;
  //  position: relative;
  //  svg {
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    bottom: 0;
  //    right: 0;
  //    width: 100% !important;
  //    height: 100% !important;
  //
  //    /* Саме це змушує SVG не зменшувати текст, а обрізати краї */
  //    object-fit: cover !important;
  //
  //    /* Зміщуємо "камеру" на текст (70% по горизонталі) */
  //    object-position: 70% 50%;
  //  }
  //}
}

@include mixins.respond-to(variables.$lg) {
  //.section-banner {
  //  .banner__thumb svg {
  //    display: block;
  //    object-fit: cover;
  //    width: 100%;
  //    height: 100%;
  //  }
  //}
}

@include mixins.respond-to(variables.$lg) {
  //.section-banner {
  //  .banner__thumb svg {
  //    //transform: translateX(-20%);
  //  }
  //}
}

.banner__thumb {
  width: 100%;
  height: 444px;
  overflow: hidden;
  position: relative;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-wrapper svg {
  width: 1441px;
  height: 444px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vector-effect: non-scaling-stroke;
}

@include mixins.respond-to(variables.$md) {
  .svg-wrapper svg {
    width: 150%;
    max-width: none;
    margin-left: -25%;
  }
  .section__title{
    display: inline-block;
    max-width: 200px;

  }
}

@include mixins.respond-to(variables.$sm) {
.page__title{
  font-size: 28px;
  margin-bottom: 26px;
}
}
@include mixins.respond-to(variables.$xs) {
  .page__title{
    font-size: 24px;
  }
  .section-banner{
    height: 452px;
  }
}