@font-face {
    font-family: "Century Gothic Paneuropean";
    src: url("../fonts/CenturyGothicPaneuropeanRegular.woff2") format("woff2"),
    url("../fonts/CenturyGothicPaneuropeanRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic Paneuropean";
    src: url("../fonts/CenturyGothicPaneuropeanBlack.woff2") format("woff2"),
    url("../fonts/CenturyGothicPaneuropeanBlack.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic Paneuropean";
    src: url("../fonts/CenturyGothicPaneuropeanLight.woff2") format("woff2"),
    url("../fonts/CenturyGothicPaneuropeanLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}