@use "../utils/mixins";
@use "../utils/variables";
@use "../components/menu";

.footer {
  color: #BBBBBB;

  .menu {
    color: #BBBBBB;
  }

  a {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {
      color: variables.$primary-color;
    }


  }

  &_top {
    padding: 75px 0 66px;
    background-color: #2C2C2C;
    line-height: 1.85;

    .menu {
      flex-direction: column;
      line-height: 1.85;

      &__item {
        margin-bottom: 4px;
        margin-right: 0;
      }
    }
  }

  &__col {
    width: auto;
    padding: 0 34px;

    &.text {
      max-width: 340px;
      line-height: 1.85;
      width: 100%;
    }
  }

  .container {
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1.34;
    color: #EEEEEE;
  }

  &_bottom {
    background-color: #272727;
    padding: 20px 0;

    .container {
      align-items: center;
    }
  }
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  &__item {
    width: 41px;
    height: 41px;
    flex-shrink: 0;
    background-color: #313131;
    transition: background-color .35s;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: rgb(232, 73, 35, .5);
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.social .footer__title{
  white-space: nowrap;
}
.contact__item {
  margin-bottom: 4px;
}

.copyright {
  padding: 0 34px;
}

@include mixins.respond-to(variables.$lg) {
  .footer .container {
    max-width: 100%;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .footer__col.text {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer_top .container {
    flex-wrap: wrap;
  }
  .footer__col {
    padding: 0 24px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .social {
    margin: 0 auto;
    padding-top: 20px;
  }
  .footer__col:not(.footer__col.social) {
    margin-bottom: 60px;
    flex-grow: 1;
  }
.footer__col:nth-child(2),
.footer__col:nth-child(3){
  width: 50%;
}
  .footer_top {
    padding-top: 54px;
    padding-bottom: 50px;
  }
  .footer__col {
    padding-left: 0;
    padding-right: 0;
  }
}

@include mixins.respond-to(variables.$xs) {
  .footer__col:nth-child(2),
  .footer__col:nth-child(3){
    width: 100%;
  }
}

@include mixins.respond-to(variables.$xxs) {

}