@use "../utils/mixins";
@use "../utils/variables";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 46px;
  transition: all .5s;
  z-index: 900;

  &.is-pinned {
    top: 0;

    .header__inner {
      box-shadow: 0 3.24px 45.4px 0 rgba(36, 42, 76, 0.1);
    }
  }

  &__logo {
    max-width: 128px;
    width: 100%;
    display: inline-block;
    line-height: 0;

    svg {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    background-color: #FFFFFF;
    padding: 16px 24px;
  }

  &__nav {
    display: flex;
  }

  &__nav-logo {
    display: none;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 50px;

    img {
      max-width: 100%;
    }
  }

  &__lang {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    color: variables.$grey-07;

    &:hover,
    &:focus {
      color: variables.$primary-color;
    }

    a {
      display: inline-block;
      color: inherit;
    }
  }

  &.header_home {
    .header__lang,
    .menu {
      color: #ffffff;
    }

    .header__logo {
      max-width: 166px;
    }

    .header__inner {
      background-color: transparent;
      padding: 0;
    }
  }
}

.btn_burger {
  background-image: url(../assets/img/svg/symbols_menu.svg);
  background-size: contain;
  filter: invert(1);
}

.btn_close {
  background-image: url(../assets/img/svg/cancel.svg);
  background-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn_close,
.btn_burger {
  display: none;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.header_home {
  .btn_burger {
    filter: invert(0);
  }

  &.is-pinned {
    .btn_burger {
      filter: invert(1);
    }

    .header__inner {
      background-color: #FFFFFF;
      padding: 16px 24px;
    }

    .header__logo {
      max-width: 128px;

      .fill-grey {
        fill: #222222;
      }

      .remove-fill {
        fill: #E84923;
        stroke: #E84923;
      }
    }

    .header__lang,
    .menu {
      color: variables.$grey-07;
    }
  }
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 10;
  display: none;
}

@include mixins.respond-to(variables.$lg) {
  .header .container {
    max-width: 100%;
  }
}

@include mixins.respond-to(variables.$md) {
  .header__nav-logo,
  .btn_close,
  .btn_burger {
    display: block;
  }
  .header {
    top: 24px;

    &__logo {
      max-width: 111px;
    }

    &__nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      min-width: 390px;
      background-color: #FFFFFF;
      padding: 60px 30px 100px;
      height: 100%;
      max-height: 100vh;
      overflow: auto;
      transform: translateX(-100%);
      transition: .35s;
      z-index: 15;
      flex-direction: column;

      &.is-open {
        transform: translateX(0);
      }
    }

    &.header_home {
      .header__lang,
      .menu {
        color: #222222;
      }

      .header__logo {
        max-width: 111px;
      }
    }

    &__lang {
      padding: 12px 0;
      margin-top: 30px;
      font-size: 20px;
    }
  }
  .header_home.is-pinned .header__logo {
    max-width: 111px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .header {
    top: 18px;

    &__inner {
      padding: 8px 16px;
    }

    &__logo {
      max-width: 86px;
    }
  }
  .header.header_home {
    .header__inner {
      padding: 8px 16px;
    }

    .header__logo {
      max-width: 90px;
    }
    &.is-pinned .header__logo {
      max-width: 86px;
    }
  }
}