@use "../utils/mixins";
@use "../utils/variables";

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1560px;
  padding: 0 60px;
  @include mixins.respond-to(variables.$xxl){
    max-width: 1440px;
  }

  @include mixins.respond-to(variables.$xl){
    max-width: 1180px;
    background-color: rosybrown;
  }

  @include mixins.respond-to(variables.$screen-lg){
    max-width: 1080px;
    padding: 0 32px;
    background-color: lightgreen;
  }

  @include mixins.respond-to(variables.$lg){
    max-width: 960px;
    background-color: tomato;
  }

  @include mixins.respond-to(variables.$screen-md){
    max-width: 991px;
    background-color: goldenrod;
  }

  @include mixins.respond-to(variables.$md){
    max-width: 768px;
    background-color: wheat;
  }

  @include mixins.respond-to(variables.$sm){
    max-width: 580px;
    background-color: hotpink;
  }

  @include mixins.respond-to(variables.$xs){
    max-width:100%;
    padding: 0 16px;
    background-color: paleturquoise;
  }
}



