@use "../utils/mixins";
@use "../utils/variables";

@media print {

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .swiper,
  .swiper-container {
    height: auto !important;
    overflow: visible !important;
    display: block !important;
  }

  .swiper-wrapper {
    display: block !important;
    height: auto !important;
    width: 100% !important;
    transform: none !important;
  }

  .swiper-slide {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    break-inside: avoid;
    page-break-inside: avoid;
    padding: 0 !important;

    img {
      display: block !important;
      width: 100% !important;
      height: auto !important;
      max-width: 100% !important;
      max-height: 90vh;
      object-fit: contain !important;
      position: static !important;

      break-inside: avoid;
      page-break-inside: avoid;
    }

    a {
      padding: 0 !important;
      min-height: 0!important;
    }

    a,
    picture,
    div {
      display: block !important;
      width: 100% !important;
      height: auto !important;
      aspect-ratio: auto !important;
      position: static !important;
    }
  }

  .swiper-pagination,
  .slider__arrow,
  .swiper-notification,
  header,
  footer,
  nav,
  aside,
  .btn,
  .label,
  .location,
  .no-print {
    display: none !important;
  }

  [style*="visibility: hidden"],
  [style*="opacity: 0"] {
    display: none !important;
  }
}